body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(195, 203, 209);
    margin:0;
}
h1{
    font-size: 50px;
}
.heading-color{
    color:rgb(250, 121, 0);
}
p{
    text-align: justify;
}
section{
    display: flex;
}
.div-width{
    width: 50%;
    margin: 50px;
    padding: 30px;  
}
.div-width img{
    width: 90%;
}
.link-style{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px;
    background-image:linear-gradient(rgb(250, 165, 7),rgb(212, 36, 36));
}
.background-image{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}