body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(195, 203, 209);
    margin:0;
}
h1{
    font-size: 50px;
}
.heading-color{
    color:rgb(250, 121, 0);
}
p{
    text-align: justify;
}
.flexible-container{
    display: flex;
}
.div-width{
    width: 50%;
    margin: 50px;
    padding: 30px;  
}
.div-width img{
    width: 90%;
}
.link-style{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px;
    background-image:linear-gradient(rgb(250, 165, 7),rgb(212, 36, 36));
}
.background-image{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.align-center{
    text-align: center;
}
.box-area{
    display: flex;
   
}
.single-box{

    margin: 30px;
    padding: 30px;
    border:1px solid;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px grey;
    
}
.image-box{
    display: inline;
    padding: 10px;
    
    
}
.image-text{
    display: inline;
    padding:30px;
    height: 300px;
    width: 300px;
}
#img1{
    background-image: url(images/agriculture-biotechnology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#img2{
    background-image: url(images/farmer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#img3{
    background-image: url(images/for-people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.footer{
    background-color: rgb(123, 123, 170);
    margin:30px;
    padding:10px;
}

.footer h3,p{
    text-align: center;
    
}
